body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #825B32;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}
.about-me, .portfolio, .contact, .skills{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-me h2, .portfolio h2, .contact h2, .skills h2{
    color: #fff;
    background: #030303;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.skills ul {
    padding: 0;
    margin: 0;
    position: relative;
    background: #fff;
}
.skills ul li {
    list-style: none;
    padding: 10px;
    width: 97%;
    box-shadow: 0 5px 15px rgba(0,0,0,1);
    background: #fff;
}
.skills ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #dba060;
    box-shadow: 0 6px 12px rgba(0,0,0,2);
    color: #333;
}
.item {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
    flex: 1 1 30%;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

.item:hover {
    background-color: #dba060;
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 2);
}
.contact div {
    text-align: center;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile h1 {
    margin-top: 10px;
    font-size: 2.5em;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #825B32;
    color: #fff;
}
nav {
    color: white;
    padding: 10px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
nav a:hover {
    text-decoration:underline;
}
